@charset "utf-8";
/* CSS Document */
.account{
	height: 800px;
	width: 1024px;
	left: 50%;
	margin-left: -512px;
}
.account .accountAll{
	height: 100%;
}
.account .accountChar{
	position: relative;
	height: 100%;
	width: 100%;
	background: #fff;
	border: 1px #CCC solid;
	overflow: hidden;
}
.account .headerbtn{
	float: left;
	height: 40px;
	line-height: 40px;
	width: 100%;
	vertical-align: middle;
	font-family: "Helvetica";
	font-size: 18px;
	border-bottom: 1px #CCC solid;
	background: url("../img/bg-degrade1.jpg") repeat-x 0 0;
}
.account .headerbtn .btn{
	float: left;
	color: #666;
	width: 200px;
	font-size: 15px;
	text-align: center;
	border-right: 1px #CCC solid; 
	cursor: pointer;
}
.account .tab-cupones{
	float: left;
	height: 720px;
	width: 100%;
	padding: 20px 0px 0px 0px;
	overflow: hidden;
}
.account .tab-changedata{
	float: left;
	height: 730px;
	width: 100%;
	display: none;
}
.account .tab-changepass{
	float: left;
	height: 760px;
	width: 100%;
	display: none;
}
.account .lineProduct{
	float: left;
	height: 100px;
	width: 95%;
	padding: 20px 2.5% 20px 2.5%;
}
.account .lineProductImg{
	float: left;
	height: 100px;
	width: 180px;
	border-right: 1px #CCC dashed; 
}
.account .desProductImg{
	float: left;
	height: 100px;
	width: 300px;
	border-right: 1px #CCC dashed; 
}
.account .TitleTab{
	height: 25px;
	float: left;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #333;
	font-family: "Helvetica";
	padding: 10px 0px 0px 0px;
}
.account .ContentTab{
	height: 45px;
	float: left;
	width: 95%;
	text-align: center;
	font-size: 11px;
	color: #333;
	font-family: "Helvetica";
	padding: 0px 2.5% 0px 2.5%;
}
.account .expirationTime{
	float: left;
	height: 100px;
	width: 180px;
	border-right: 1px #CCC dashed; 
}
.account .seeMore{
	float: left;
	height: 100px;
	width: 150px;
	border-right: 1px #CCC dashed;
}
.account .mailCupon{
	float: left;
	height: 100px;
	width: 150px;
}
.account .buttonImg{
	cursor: pointer;
}
.account .botonUp{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 100%;
	margin-left: -30px;
	top:55px;
	cursor: pointer;
}
.account .botonDown{
	position: absolute;
	height: 24px;
	width: 24px;
	left: 100%;
	margin-left: -30px;
	top:100%;
	margin-top: -40px;
	cursor: pointer;
}
.account .lineData{
	float: left;
	height: 30px;
	width: 95%;
	padding: 15px 2.5% 15px 2.5%;
	color:#666;
	font-family: "Helvetica";
	font-size: 16px;
}
.account .lineDataUp{
	float: left;
	height: 10px;
	width: 95%;
	padding: 10px 2.5% 0px 2.5%;
}
.account .inputText{
	height: 30px;
	width: 500px;
}
.account .butonChange{
	position: relative;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	width: 200px;
	font-size: 17px;
	color: #666;
	border-radius: 5px;
	color:#FFF;
	font-family: "Helvetica";
	background: #4AB0E1;
	text-shadow: -1px -1px 0 #1584FF;
	cursor: pointer;
}
.account .lineMessage{
	float: left;
	height: 30px;
	width: 95%;
	padding: 15px 2.5% 15px 2.5%;
	color:#666;
	font-family: "Helvetica";
	font-size: 16px;
	display: none;
}