@charset "utf-8";
/* CSS Document */
body{
	background: url('../img/witewall_3.png')
}
.back{
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background: black;
	opacity: 0.3;
	filter:  alpha(opacity=50);
	z-index: 5;
}
.allSpace{
	position: relative;
	height: 100%;
	width: 100%;
}
.allHeight{
	position: relative;
	height: 100%;
}